// colours
$c-general: #333;
$c-black: #000;
$c-white: #fff;
$c-headings: #660000;
$c-less: #999;
$c-orange: #E95C33;
$c-blue-button: #3498d8;
$c-blue: #26A2E0;
$c-blue-dark: #1a85ba;
$c-alert-info: #2f96b4;
$c-alert-warning: #f89406;
$c-alert-success: #51a351;
$c-alert-error: #bd362f;
$star-1: #3498db;
$star-2: #2980b9;
$star-3: #f1c40f;
$star-4: #e67e22;
$star-5: #e74c3c;
