// colours
$c-general: #333;
$c-black: #000;
$c-white: #fff;
$c-headings: #660000;
$c-less: #999;
$c-orange: #E95C33;
$c-blue-button: #3498d8;
$c-blue: #26A2E0;
$c-blue-dark: #1a85ba;
$c-alert-info: #D9EDF7;
$c-alert-warning: #FCF8E3;
$c-alert-success: #D6E9C6;
$c-alert-error: #EBCCD1;
$star-1: #3498db;
$star-2: #2980b9;
$star-3: #f1c40f;
$star-4: #e67e22;
$star-5: #e74c3c;
