$columns : 12;
$margin: 5%;

@function calculateBlock ( $number: 1, $margin: $margin)
{
	$calc : (100%/$columns*$number)-$margin;
	$margin-divide: $margin/$columns;
	@return $calc + ($margin-divide*$number);  
}

.gr-container {
	max-width: 92%;
	margin: 0 auto;
	min-height: 1px;
}

.gr-row
{
    width:100%;

    &:after
    {
        clear:both;
        display:block;
        content:'';
        line-height:0;
    }
    [class*="gr-block"]
        {
        display:block;
        float:left;
        margin-left:$margin;
        &:first-of-type
        {
            margin-left:0 !important;
        }
    }
}

#footer .gr-block4 {
    float: right;
    padding-top: 32px;
}




@for $i from 1 to $columns+1
{
    $width : calculateBlock($i);
    .gr-block#{$i} { width:$width }
}

@media screen and (max-width: 680px) {
  [class*="gr-block"]{
    width:100% !important;
    float:none !important;
    margin:32px 0 32px 0 !important;
  }
}

@media screen and (max-width: 920px) {
    #footer [class*="gr-block"]{
    width:100% !important;
    float:none !important;
    margin:32px 0 0 0 !important;
    padding-top: 0;
    text-align: center;
  }

  #footer footer {
    margin-bottom: -32px !important;
  }

  .footer-info-img img {
    margin: 0 auto;
  }
}
