@import "_colours";
@import "_helpers";

// Typography

@font-face {
    font-family: 'ChunkFiveRoman';
    src: url('../fonts/chunkfive-roman-webfont.eot');
    src: url('../fonts/chunkfive-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-roman-webfont.woff') format('woff'),
         url('../fonts/chunkfive-roman-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-roman-webfont.svg#ChunkFiveRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
	color: $c-blue;
	text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
}

h1 > a {
	color: $c-headings;
		&:hover {
			text-decoration: none;
		}
}


.share a i {
	display: block;
	transition: all 0.3s;
}

.share a:hover {
	text-decoration: none;
		i {
			-webkit-transform:rotate(360deg);
		    -moz-transform:rotate(360deg);
		    transform:rotate(360deg);
		}

		i.al-icon-twitter {
			color: #5EAADE;
		}

		i.al-icon-facebook {
			color: #284386;
		}

		i.al-icon-feed {
			color: #FB7629;
		}
}


h1.title-home {
	font-family: 'ChunkFiveRoman', Arial, Helvetica, sans-serif;
	color: $c-headings;
	margin: 0;
	@include big;
	line-height: 1em;
	font-weight: normal;
}

h1.title-detail {
	font-family: 'ChunkFiveRoman', Arial, Helvetica, sans-serif;
	color: $c-headings;
	margin: 0;
	font-size: 4.375em;
	line-height: 1em;
	font-weight: normal;
	word-wrap: break-word;
}

h2.subtitle-home {
	@include open_light;
	color: $c-general;
	margin: 4px 0 16px 0;
	font-size: 1.250em;
	font-weight: 500;
}

h2.subtitle-detail {
	@include open_light;
	color: $c-general;
	margin: 4px 0 12px 0;
	font-size: 1.875em;
	font-weight: 500;
}

article p {
	@include open_regular;
	line-height: 1.6em;
}

article .foto-ficha p {
	margin: 0;
}

article .foto-ficha p.ver-ficha-completa {
	margin: 12px 0 !important;
}

article h3,
article h6 {
	font-family: open_sansregular,Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 32px 0 8px;
}

article p:empty {
	margin: 0;
	padding: 0;
}


.less {
	color: $c-less;
}

.dades {
	@include open_regular;
	@include escape-list;
	margin: 0;
	font-size: 0.875em;
	line-height: 1.5em;

	span:not(.dades_item) {
		font-weight: bold;
		color: $c-headings;
	}

	li {
		padding-top: 2px;
	}
}

.ver-ficha-completa {
	text-align: center;
	margin-bottom: 4px;
	padding-bottom: 0;

	a {
		font-size: 14px;
	}
}

.search-wrapper input[type="text"] {
	border: none;
    border-radius: 4px;
    display: inline-block;
    height: 48px;
    margin: 0 -7px 0 0;
    padding: 8px 88px 8px 8px;
    width: 100%;
}

.btsearch {
	background-color: $c-blue;
	color: $c-white;
   	height: 48px;
    margin: 0;
    padding: 0 40px;
    position: absolute;
    right: 0;
    width: 80px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

@media screen and (max-width: 480px) {
	h1.title-detail {
	font-size: 40px;
	}

	h2.subtitle-detail {
	font-size: 24px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ChunkFiveRoman';
    src: url('../fonts/chunkfive-roman-webfont.svg#ChunkFiveRoman') format('svg');
  }
}

@media screen and (min-width: 609px) {
	h1.title-home {
		font-size: 3.1em;
	}

	h2.subtitle-home {
		font-size: 1.600em;
	}
}